---
layout: TrustCenterPageCN
---
<div class="row-fluid">
   <div class="span">
      <div>
         <div class="row-fluid wider hero grid-container" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
            <div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1">
               <div bi:type="slideshow" class="slideshow slideshow-hero hero" xmlns:bi="urn:schemas-microsoft-com:mscom:bi">
                  <ul bi:type="list" class="slides">
                  <li id="slide-1" bi:index="0" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../security/default-cn.html" bi:track="False" bi:titleflag="t1" bi:index="1">
                                 <div data-picture="" data-alt="Service Trust Portal" data-disable-swap-below="">
                                    <div data-src="Images/MS_TrustCenter_Homepage_Header_Security.jpg"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                             安全性
                                             <p>采用业界领先的技术和流程保护客户数据的机密性、完整性和可用性</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-2" bi:index="1" selectBi="">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../privacy/default-cn.html" bi:track="False" bi:titleflag="t1" bi:index="0">
                                 <div data-picture="" data-alt="Compliance" data-disable-swap-below="">
                                    <div data-src="Images/MS-TrustCenter-Privacy-Header.jpg"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                             隐私保护
                                             <p>您拥有并掌控自己的客户数据</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-3" bi:index="2" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../compliance/default-cn.html" bi:track="False" bi:titleflag="t1" bi:index="2">
                                 <div data-picture="" data-alt="Control over your data" data-disable-swap-below="">
                                    <div data-src="https://c.s-microsoft.com/en-us/CMSImages/MS_TrustCenter_Compliance_Header.jpg?version=0bd2396e-c6ca-03f2-90c2-103d65d9c68b"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                            合规性
                                             <p>提供完备的第三方审计认证</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-4" bi:index="3" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../transparency/default-cn.html" bi:track="False" bi:titleflag="t1" bi:index="3">
                                 <div data-picture="" data-alt="Security" data-disable-swap-below="">
                                    <div data-src="Images/MS-TrustCenter-Transparency-Header.jpg"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                             透明度 
                                             <p>您清楚知悉我们的运营实践</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
                  <div class="navigation international" bi:track="false">
                     <div class="grid-container settop" data-title-text="Go To Slide "></div>
                  </div>
                  <div class="prev-next" bi:track="false"><button class="prev"><span class="icon-left" aria-hidden="true"></span><span class="screen-reader-text">Previous</span></button><button class="next"><span class="icon-right" aria-hidden="true"></span><span class="screen-reader-text">Next</span></button></div>
                  <div id="play-pause" class="play-pause" style="display:none">
                     <div class="pause"><button id="pauseButton" class="pause_button"><span class="icon-pause" aria-hidden="true"></span><span class="screen-reader-text">Pause</span></button></div>
                     <div class="play"><button id="playButton" class="play_button"><span class="icon-play" aria-hidden="true"></span><span class="screen-reader-text">Play</span></button></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
            <div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1">
               <br />
               <p>由世纪互联运营的 Microsoft Azure 和 Office 365 服务是在中国大陆独立运营的公有云平台，由<font style="color:rgb(0,115,198)"><a href="http://www.ch.21vianet.com/">北京世纪互联宽带数据中心有限公司</a></font>的全资子公司上海蓝云网络科技有限公司（简称为“世纪互联”）独立运营和销售。采用微软服务于全球的 Azure 和 Office 365 技术，为客户提供全球一致的服务质量保障。</p>
               <p>作为由世纪互联运营的 Microsoft Azure 和 Office 365 的客户，可获得以下服务：</p>
               <ul style="padding-left:40px">
                    <li style="list-style-type:disc">在中国大陆数据中心托管且由世纪互联独立运营的云服务。世纪互联是中国领先的互联网数据中心提供商。</li>
                    <li style="list-style-type:disc">源于微软应用于全球企业客户数十年的丰富在线服务经验而开发的世界一流的 Azure 和 Office 365 技术，全面服务于中国的客户。</li>
               </ul>
               <p>当您将您的客户数据托付给由世纪互联运营的 Microsoft Azure 和Office 365 时，您可能会有所疑问，谁能访问我的客户数据？客户数据存放在哪里？世纪互联如何保护客户数据？以及，我怎样才能确认世纪互联按照承诺对客户数据提供相应保护？</p>
               <p>世纪互联的回答是：由于这是客户的数据，由客户自行决定谁可以访问客户数据，并和我们一起决定客户数据的存储位置。 为了对客户数据提供保护，世纪互联采用了微软可信云技术所提供的先进的安全技术和世界一流的加密措施。 Azure 和 Office 365 服务的合规性不仅被独立审计，同时保持了各个层面的透明性，包括告知客户自己的客户数据存储在何处以及如何被使用。</p>
               <p>世纪互联深知 Azure 和 Office 365 客户信任我们会保护客户数据的安全。 我们重视您的信任，您的数据隐私和安全是我们最关心的问题之一。我们努力在安全性、隐私保护、合规性和透明度方面保持业界领先地位。</p>
               <p><h2 style="color:rgb(0,115,198)">可信赖的云服务</h2></p>
               <p>由世纪互联运营的 Microsoft Azure 和 Office 365 为企业提供了一个开放的平台，具备客户开发创新的解决方案所需的灵活性和安全性，实现实时数据洞察力、增强工作生产力和移动性，并交付个性化的客户体验。</p>
               <p><h2 style="color:rgb(0,115,198)">共担责任</h2></p>
               <p>
                  在中国，使用云服务的客户受到许多适用于不同地域和行业的各种法律和法规的约束。为保证我们的客户符合其各自法律法规的要求，我们在构建服务时就牢记通用隐私和安全性要求。但最终将由我们的客户根据自己的要求来评估我们的服务，以便他们可以确定我们的服务是否满足其法规要求。我们承诺为客户提供有关 Azure 和 Office 365 云服务的详细信息， 以帮助他们进行自我监管评估。
                   Azure 和 Office 365 云服务要求客户与服务提供商共担责任。世纪互联负责维护基于微软可信云技术的平台，并努力提供可满足客户的安全性、隐私保护、合规性和透明度需求的云服务。在配置服务之后，客户负责维护其环境，包括其自行部署的应用程序、数据内容、虚拟机、访问凭据以及遵守适用于其特定行业和区域的法规。</p>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" id="Services" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4" >
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../cloudservices/azure-cn.html','_self')">
               <div class="image-wrapper"><img src="Images/Microsoft_Azure_Logo_Cn.png" class="mscom-image title1Adjustment" alt="Microsoft Azure Title" width="300" height="28" /></div>
               <p>Azure 为云中的客户和企业数据提供全面保护的同时，还可以满足安全、隐私保护、控制、合规性及透明性要求。
                  <a target="_self" class="mscom-link withArrow" href="../cloudservices/azure-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To Azure" width="21" height="19" /></a>
               </p>
            </div>
            <!--隐藏-->
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear"  style="visibility: hidden;">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Microsoft-Commercial-Support.png?version=c6b174ce-21e8-6a22-da22-b5b5dd523d39" class="mscom-image title3Adjustment adjusted" alt="Microsoft Commercial Support Title" width="199" height="45" /></div>
               <p>Tech expertise, accelerated support, and strategic advice
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Commercial-Support"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To commercial support" width="21" height="19" /></a>
               </p>
            </div>
            <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear" onclick="window.open('../cloudservices/office-365-cn.html','_self')">
                <div class="image-wrapper"><img src="Images/Office365_Logo_Cn.png" class="mscom-image title1Adjustment" alt="Office 365 Title" width="300" height="28" /></div>
                <p>
                    Office 365 结合了多种安全纵深防护措施，拥有丰富的数据保护工具，以及企业级合规性框架，从而为您提供安全的基于云的生产力体验。
                    <a target="_self" class="mscom-link withArrow" href="../cloudservices/office-365-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To office" width="21" height="19" /></a>
                </p>
            </div>
            <!--隐藏-->
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear bp1-clear"  style="visibility: hidden;">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/MS_Dynamics_Logo_Blk_rgb.png?version=06e4eef9-aa86-64d0-5f85-b53520154354" class="mscom-image title2Adjustment" alt="Microsoft Dynamics Title" width="172" height="22" /></div>
               <p><strong>Dynamics CRM Online</strong> enables more secure customer engagement
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Dynamics"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To dynamics" width="21" height="19" /></a>
               </p>
            </div>
         </div>
            <!--隐藏-->
         <div class="row-fluid grid-container mscom-grid-container" id="Services2" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4" style="display:none !important">
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/MS-Intune-Title.jpg?version=4d332418-1c8e-e22a-a85a-988668fb5ff2" class="mscom-image title3Adjustment" alt="Microsoft Intune Title" width="150" height="23" /></div>
               <p>Manage Windows, Android, iOS, and OS X devices more securely
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Intune"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To intune" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Ofc365_rgb_Orng166.png?version=8cb78da7-1559-29e2-f7cc-b4dd79f440b3" class="mscom-image title1Adjustment" alt="Office 365 Title" width="126" height="28" /></div>
               <p>Cloud-based productivity with greater security
                  <a target="_self" class="mscom-link withArrow" href="/en-us/TrustCenter/CloudServices/Office-365"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To office" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Microsoft-National-Clouds.png?version=a1011ea5-78e9-af15-e28a-b952098fb5a7" class="mscom-image title2Adjustment adjusted" alt="Microsoft National Clouds Title" width="199" height="45" /></div>
               <p>
                  Isolated clouds for China, Germany, and the US government
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/NationalCloud"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To national clouds" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear bp1-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Power-BI.png?version=573fe466-cbdd-a280-d1fa-06598898830a" class="mscom-image title2Adjustment adjusted" alt="Power BI Title" width="199" height="45" /></div>
               <p>Data visualization and business intelligence cloud services
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Power-BI"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To power bi" width="21" height="19" /></a>
               </p>
            </div>
         </div>
         <div class="grayback" style="margin-top:15px">
            <div class="row-fluid grid-container mscom-grid-container features" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4">
               <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../security/default-cn.html','_self')" >
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Security.png" class="mscom-image" alt="Image of Padlock | Security" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>安全性</h3>
                        <p>我们保证您的客户数据的安全</p>
                        <a target="_self" class="mscom-link withArrow" href="../security/default-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To Security" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../privacy/default-cn.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Privacy.png" class="mscom-image" alt="Image of Eye | Privacy" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>隐私保护</h3>
                        <p>您拥有并控制自己的客户数据</p>
                        <a target="_self" class="mscom-link withArrow" href="../privacy/default-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Privacy" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../compliance/default-cn.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Compliance.png" class="mscom-image" alt="Image of Checklist | Compliance" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>合规性</h3>
                        <p>我们的服务符合国际/国内标准</p>
                        <a target="_self" class="mscom-link withArrow" href="../compliance/default-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Compliance" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../transparency/default-cn.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Transparency.png" class="mscom-image" alt="Image of Magnifying Glass | Transparency" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>透明度</h3>
                        <p>您知道如何存储和访问您的客户数据，并知道我们如何保护客户数据</p>
                        <a target="_self" class="mscom-link withArrow" href="../transparency/default-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Transparency" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-fluid whatsNew wider" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
            <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 left"><img src="../Images/group-people.png" class="mscom-image" alt="Image of a group of people" width="507" height="266" /></div>
            <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 bp0-clear right" style="margin-bottom: 3%;">
               <h1>最新消息</h1>
               <p style="font-size: 16px;"><a target="_blank" class="mscom-link" href="../what-is-new/new2-cn.html">世纪互联运营的 Microsoft Azure 和 Office 365 亮相“4.29首都网络安全日</a>
               </p>
               <p style="font-size: 14px;">4月28日，由北京市公安局主办的第三届“4.29首都网络安全日”网络与信息安全博览会在北京展览馆举行。作为首个在国内商用的国际云计算服务——基于微软技术由世纪互联运营的 Microsoft Azure 和 Office 365 亮相博览会。微软和世纪互联蓝云在博览会上搭建了联合展台，向与会者展示了国际一流的云计算技术和安全可信的云计算运维和服务的成果，为业界提供了云安全的交流机会，助力推动网络安全与信息安全的发展。</p>
               <p style="font-size: 16px;display:none"><a target="_blank" class="mscom-link" href="../what-is-new/new2-cn.html">世纪互联运营的Microsoft Azure和Office 365再获"可信云服务认证"</a> </p>
               <p style="font-size: 14px;display:none">在刚刚揭晓的第五批“可信云服务认证”评选中，由世纪互联运营的 Microsoft Azure 获得了“云备份”项目的“可信云服务认证”。与此同时，由世纪互联运营的 Office 365 在线服务所提供的企业级电子邮件（Exchange Online）、文件共享(SharePoint Online)、享日历与视频电话会议 (Skype for Business)也获得了新增的“安全性”和“用户体验性能”两项认证。
               </p>
               <a target="_self" class="mscom-link withArrowRight" href="../what-is-new/default-cn.html">更多
               <img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow_white.png?version=5c22924b-0b30-b9e9-3bea-41132bde0152" class="mscom-image" alt="Arrow | Navigate To What's New' " width="21" height="19" /></a>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
               <h2>了解更多</h2>
               <span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnppe.blob.core.chinacloudapi.cn/marketing-resource/documents/Windows_Azure_and_Office_365_cloud_services_business_model_operated_by_21Vianet12.pdf">世纪互联运营的 Microsoft Azure 和 Office 365 云服务运营模式</a></span><br /><span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/documents/Protecting_Data_and_Privacy_in_the_Cloud_CN_final20160125.pdf">保护云中的数据和隐私</a></span><br /><span class="withTail"><a target="_blank" class="mscom-link" href="#">Office 365 安全与合规白皮书</a></span><br /><span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/documents/AzureNetworkSecurity_v3_Feb2015_CN_20151214.pdf">Azure 网络安全</a></span><br />
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 bp0-clear" style="margin-bottom: 4%;margin-bottom: 2%;">
               <h2>更多资源</h2>
               <a target="_blank" class="mscom-link" href="https://www.azure.cn/support/legal/privacy-statement/">世纪互联运营的 Microsoft Azure 隐私声明</a><br /><span class="withTail"><a target="_blank" class="mscom-link" href="http://www.21vbluecloud.com/office365/O365-Privacy/">世纪互联运营的Office 365 隐私声明</a></span><br /><a target="_blank" class="mscom-link" href="https://www.azure.cn/support/legal/subscription-agreement">世纪互联运营的 Microsoft Azure 在线服务标准协议</a><br /><span class="withTail"><a target="_blank" class="mscom-link" href="http://www.21vbluecloud.com/office365/O365-AgreeWebDir/">世纪互联运营的 Office 在线服务标准协议</a></span><br />
            </div>
         </div>
      </div>
   </div>
</div>
