---
layout: TrustCenterPage
---
<div class="row-fluid">
   <div class="span">
      <div>
         <div class="row-fluid wider hero grid-container" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
            <div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1">
               <div bi:type="slideshow" class="slideshow slideshow-hero hero" xmlns:bi="urn:schemas-microsoft-com:mscom:bi">
                  <ul bi:type="list" class="slides">
                     <li id="slide-1" bi:index="0" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../en-us/security/default.html" bi:track="False" bi:titleflag="t1" bi:index="1">
                                 <div data-picture="" data-alt="Service Trust Portal" data-disable-swap-below="">
                                    <div data-src="Images/MS_TrustCenter-Home_Header_Security.png"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                            Security
                                             <p>Protect the confidentiality, integrity, and availability of Customer Data with industry leading technology and process.</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-2" bi:index="1" selectBi="">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../en-us/privacy/default.html" bi:track="False" bi:titleflag="t1" bi:index="0">
                                 <div data-picture="" data-alt="Compliance" data-disable-swap-below="">
                                    <div data-src="Images/MS-TrustCenter-Home-Privacy-Header.png"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                             Privacy
                                             <p>You own and control your Customer Data.</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-3" bi:index="2" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../en-us/compliance/default.html" bi:track="False" bi:titleflag="t1" bi:index="2">
                                 <div data-picture="" data-alt="Control over your data" data-disable-swap-below="">
                                    <div data-src="Images/MS_TrustCenter-Home_Header_Compliance.png"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                            Compliance
                                             <p>Comprehensive third party audited certifications.</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li id="slide-4" bi:index="3" selectBi="" style="display:none;">
                        <div class="heroitem light-foreground" bi:type="heroitem">
                           <div class="media" bi:parenttitle="t1">
                              <a href="../en-us/transparency/default.html" bi:track="False" bi:titleflag="t1" bi:index="3">
                                 <div data-picture="" data-alt="Security" data-disable-swap-below="">
                                    <div data-src="Images/MS-TrustCenter-Home-Transparency-Header.png"></div>
                                    <noscript></noscript>
                                 </div>
                              </a>
                           </div>
                           <div class="text" bi:type="cta">
                              <div class="text-container">
                                 <div class="box" style="background: rgba(0,0,0,.85); color: #FFFFFF;">
                                    <ul bi:type="list" class="headerCaption">
                                       <li class="box-title">
                                          <h3 class="box-title" bi:type="title" bi:title="t1" style="color: #FFFFFF;">
                                             Transparency
                                             <p>You have visibility into our practices.</p>
                                          </h3>
                                       </li>
                                       <li class="box-actions box-description"><a target="_self" class="mscom-link" href=""></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
                  <div class="navigation international" bi:track="false">
                     <div class="grid-container settop" data-title-text="Go To Slide "></div>
                  </div>
                  <div class="prev-next" bi:track="false"><button class="prev"><span class="icon-left" aria-hidden="true"></span><span class="screen-reader-text">Previous</span></button><button class="next"><span class="icon-right" aria-hidden="true"></span><span class="screen-reader-text">Next</span></button></div>
                  <div id="play-pause" class="play-pause" style="display:none">
                     <div class="pause"><button id="pauseButton" class="pause_button"><span class="icon-pause" aria-hidden="true"></span><span class="screen-reader-text">Pause</span></button></div>
                     <div class="play"><button id="playButton" class="play_button"><span class="icon-play" aria-hidden="true"></span><span class="screen-reader-text">Play</span></button></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" data-view4="1" data-view3="1" data-view2="1" data-view1="1" data-cols="1">
            <div class="span bp0-col-1-1 bp1-col-1-1 bp2-col-1-1 bp3-col-1-1">
               <br/>
               <p>Microsoft Azure and Office 365 operated by 21Vianet are separate instances of cloud services located in mainland China and independently operated and sold by <a href="http://www.ch.21vianet.com/">Shanghai Blue Cloud Technology Co., Ltd. ("21Vianet")</a>, a wholly owned subsidiary of Beijing 21Vianet Broadband Data Center Co., Ltd. The services are based on the same Azure and Office 365 technology that powers Microsoft's global cloud service with comparable service levels to customers. 
               </p>
               <p>As a customer of Microsoft Azure and Office 365 operated by 21Vianet, you get:</p>
               <ul style="padding-left:40px">
                    <li style="list-style-type:disc">A cloud service hosted in datacenters exclusively in mainland China and operated independently by 21Vianet, a leading Chinese Internet datacenter provider.</li>
                    <li style="list-style-type:disc">Powered by world-class Azure and Office 365 technology built on Microsoft's extensive experience with online services and used by enterprise customers around the world. </li>
               </ul>
               <p>When you entrust your Customer Data to Microsoft Azure and Office 365 operated by 21Vianet, you will have questions. Who can access it? Where is it? What is 21Vianet doing to protect it? How can you verify that 21Vianet is doing what it says?
               </p>
               <p>And 21Vianet have answers. Because it’s your Customer Data, you decide who has access, and you work with us to decide where it is located. To safeguard your Customer Data, 21Vianet uses Microsoft’s state-of-the art security technology and implements world-class cryptography. Our compliance is independently audited, and we’re transparent on many levels—from where your own Customer Data is stored to how it is used.</p>
               <p>21Vianet recognizes that as an Azure and Office 365 customer, you have entrusted us to help protect your own Customer Data. We value this trust, and the privacy and security of your Customer Data is one of our top concerns. We strive to take a leadership role when it comes to security,  privacy and control, compliance and transparency.</p>
               <p><h2 style="color:rgb(0,115,198)">Trusted Cloud Services</h2></p>
               <p>Microsoft Azure and Office 365 operated by 21Vianet provide enterprises with an open platform that provide the flexibility and security they need to develop innovative solutions and achieve real-time data insights, empower workforce productivity and mobility, and deliver a personalized customer experience. </p>
               <p><h2 style="color:rgb(0,115,198)">Shared Responsibility</h2></p>
               <p>
                  In China, customers who use cloud services are subject to many different laws and regulations that may vary from location to location and industry to industry. To help our customers comply with their own requirements, we operate our services with common privacy and security requirements in mind. However, it is ultimately up to our customers to evaluate our offerings against their own requirements, so they can determine if the services we operate satisfy their regulatory needs. We are committed to providing our customers with detailed information about Azure and Office 365 services to help them make their own regulatory assessments. 
                </p>
                <p>
                A trusted cloud platform like Azure and Azure and Office 365 requires shared responsibility between the customer and the service provider. 21Vianet is responsible for the platform and services based on technology licensed to 21Vianet by Microsoft and seeks to provide a cloud service that can meet the security, privacy, compliance and transparency needs of our customers. Customers are responsible for their environment once the service has been provisioned, including their applications, data content, virtual machines, access credentials, and compliance with regulatory requirements applicable to their particular industry and locale.
                </p>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" id="Services" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4">
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../en-us/cloudservices/azure.html','_self')">
               <div class="image-wrapper"><img src="../en-us/Images/Microsoft_Azure _Logo_En.png" class="mscom-image title1Adjustment" alt="Microsoft Azure Title" width="300" height="23" /></div>
               <p>Azure safeguards customer and enterprise data in the cloud with the security, privacy, control, compliance, and transparency they require.
                  <a target="_self" class="mscom-link withArrow" href="../en-us/cloudservices/azure-cn.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To Azure" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear" style="visibility: hidden;">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Microsoft-Commercial-Support.png?version=c6b174ce-21e8-6a22-da22-b5b5dd523d39" class="mscom-image title3Adjustment adjusted" alt="Microsoft Commercial Support Title" width="199" height="45" /></div>
               <p>Tech expertise, accelerated support, and strategic advice
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Commercial-Support"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To commercial support" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear" onclick="window.open('../en-us/cloudservices/office-365.html','_self')">
               <div class="image-wrapper"><img src="../en-us/Images/Office365_Logo_En.png" class="mscom-image title2Adjustment" alt="Microsoft Dynamics Title" width="300" height="22" /></div>
               <p>Office 365 combines a defense-in-depth approach to security, rich data-protection tools, and an enterprise-grade compliance framework to provide a secure cloud-based productivity experience. 
                  <a target="_self" class="mscom-link withArrow" href="../en-us/cloudservices/office-365.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To dynamics ax" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear bp1-clear" style="visibility: hidden;">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/MS_Dynamics_Logo_Blk_rgb.png?version=06e4eef9-aa86-64d0-5f85-b53520154354" class="mscom-image title2Adjustment" alt="Microsoft Dynamics Title" width="172" height="22" /></div>
               <p><strong>Dynamics CRM Online</strong> enables more secure customer engagement
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Dynamics"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To dynamics" width="21" height="19" /></a>
               </p>
            </div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" id="Services2" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4" style="display: none;">
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/MS-Intune-Title.jpg?version=4d332418-1c8e-e22a-a85a-988668fb5ff2" class="mscom-image title3Adjustment" alt="Microsoft Intune Title" width="150" height="23" /></div>
               <p>Manage Windows, Android, iOS, and OS X devices more securely
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Intune"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To intune" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Ofc365_rgb_Orng166.png?version=8cb78da7-1559-29e2-f7cc-b4dd79f440b3" class="mscom-image title1Adjustment" alt="Office 365 Title" width="126" height="28" /></div>
               <p>Cloud-based productivity with greater security
                  <a target="_self" class="mscom-link withArrow" href="/en-us/TrustCenter/CloudServices/Office-365"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To office" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Microsoft-National-Clouds.png?version=a1011ea5-78e9-af15-e28a-b952098fb5a7" class="mscom-image title2Adjustment adjusted" alt="Microsoft National Clouds Title" width="199" height="45" /></div>
               <p>
                  Isolated clouds for China, Germany, and the US government
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/NationalCloud"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To national clouds" width="21" height="19" /></a>
               </p>
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1 bp0-clear bp1-clear">
               <div class="image-wrapper"><img src="https://c.s-microsoft.com/en-us/CMSImages/Power-BI.png?version=573fe466-cbdd-a280-d1fa-06598898830a" class="mscom-image title2Adjustment adjusted" alt="Power BI Title" width="199" height="45" /></div>
               <p>Data visualization and business intelligence cloud services
                  <a target="_self" class="mscom-link withArrow" href="https://www.microsoft.com/en-us/TrustCenter/CloudServices/Power-BI"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To power bi" width="21" height="19" /></a>
               </p>
            </div>
         </div>
         <div class="grayback" style="margin-top:15px">
            <div class="row-fluid grid-container mscom-grid-container features" data-view4="4" data-view3="4" data-view2="2" data-view1="1" data-cols="4">
               <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../en-us/security/default.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Security.png" class="mscom-image" alt="Image of Padlock | Security" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>Secure</h3>
                        <p>We keep your Customer Data safe</p>
                        <a target="_self" class="mscom-link withArrow" href="../en-us/security/default.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate To Security" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../en-us/privacy/default.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Privacy.png" class="mscom-image" alt="Image of Eye | Privacy" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>Private</h3>
                        <p>You own and control your Customer Data</p>
                        <a target="_self" class="mscom-link withArrow" href="../en-us/privacy/default.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Privacy" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../en-us/compliance/default.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Compliance.png" class="mscom-image" alt="Image of Checklist | Compliance" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>Compliant</h3>
                        <p>Our services are in line with global /domestic standards</p>
                        <a target="_self" class="mscom-link withArrow" href="../en-us/compliance/default.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Compliance" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
               <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-4-1 bp3-col-4-1" onclick="window.open('../en-us/transparency/default.html','_self')">
                  <div class="row-fluid" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 features-icon"><img src="Images/Transparency.png" class="mscom-image" alt="Image of Magnifying Glass | Transparency" width="74" height="74" /></div>
                     <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
                        <h3>Transparent</h3>
                        <p>You know how your Customer Data is stored and accessed, and how we help secure it</p>
                        <a target="_self" class="mscom-link withArrow" href="../en-us/transparency/default.html"><img src="https://c.s-microsoft.com/en-us/CMSImages/Arrow-nobg.png?version=4af37876-de78-d419-6f89-7890a74d4158" class="mscom-image" alt="Arrow | Navigate to Transparency" width="21" height="19" /></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row-fluid whatsNew wider" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2" style="background-color: white;">
            <div class="span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 left" style="width:100%"><img src="../en-us/Images/group-people-big.jpg" class="mscom-image" alt="Image of a group of people"/></div>
         </div>
         <div class="row-fluid grid-container mscom-grid-container" data-view4="2" data-view3="2" data-view2="2" data-view1="1" data-cols="2">
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1">
               <h2>Learn more</h2>
               <span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnppe.blob.core.chinacloudapi.cn/marketing-resource/documents/Windows_Azure_and_Office_365_cloud_services_business_model_operated_by_21Vianet12.pdf">21Vianet Operates Microsoft Azure and Office 365 in China </a></span><br /><span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/documents/Protecting_Data_and_Privacy_in_the_Cloud_CN_final20160125.pdf">Protecting Data and Privacy in the Cloud</a><br/><span class="withTail"><a target="_blank" class="mscom-link" href="#">Office 365 Security and Compliance </a></span><br /><span class="withTail"><a target="_blank" class="mscom-link" href="https://wacnstorage.blob.core.chinacloudapi.cn/marketing-resource/documents/AzureNetworkSecurity_v3_Feb2015_CN_20151214.pdf">Azure Network Security</a></span><br />
            </div>
            <div class=" span bp0-col-1-1 bp1-col-2-1 bp2-col-2-1 bp3-col-2-1 bp0-clear">
               <h2>Resources</h2>
               <a target="_blank" class="mscom-link" href="https://www.azure.cn/support/legal/privacy-statement/">Privacy Statement for Microsoft Azure Operated by 21Vianet</a><br /><span class="withTail"><a target="_blank" class="mscom-link" href="http://www.21vbluecloud.com/office365/O365-Privacy/">Privacy Statement for Office 365 Operated by 21Vianet</a></span><br /><a target="_blank" class="mscom-link" href="https://www.azure.cn/support/legal/subscription-agreement">21Vianet Online Services Standard Agreement for Microsoft Azure</a><br /><span class="withTail"><a target="_blank" class="mscom-link" href="http://www.21vbluecloud.com/office365/O365-AgreeWebDir/">21Vianet Online Services Standard Agreement for Office 365</a></span><br />
            </div>
         </div>
      </div>
   </div>
</div>
